$white: #fff;
$black: #000;
$ghostwhite: #f8f8ff;
$gray3: #333;
$gray7: #777;
$grayc: #ccc;
$transparent: transparent;
$trans1: rgba(0, 0, 0, 0.1);
$pearlblue: #e3e1f6;
$seafrost: #94bac7;
$heromode: #57387b;
$purplerain: #4a3264;
$otherside: #412f49;
$heromodedark: #342149;
