@import 'variables';

.center-both-flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
}
.btn-echelon {
  border-radius: 1px;
}
.btn-echelon-prim {
  background-color: $heromode;
  color: $white;
  transition: background-color 0.5s ease;
  &:hover {
    color: $white;
    background-color: $heromodedark;
  }
}
.btn-echelon-trans {
  background-color: transparent;
  color: $heromode;
  transition: background-color 0.5s ease;
  &:hover {
    color: $heromode;
    background-color: $trans1;
  }
}
.mdi-16:before {
  font-size: 16px;
}
.mdi-24:before {
  font-size: 24px;
}
.mdi-32:before {
  font-size: 32px;
}
.mdi-gray:before {
  color: $gray7;
}
.card-list {
  list-style-type: none;
}
.center-text {
  text-align: center;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
