@import 'variables';
.group-page {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 114px);
  md-tabs {
    height: 100%;
  }
}
.group-page-home {
  height: 100%;
  width: 100%;
  flex-direction: column;
  .nav-tabs {
    li {
      text-align: center;
      width: 50%;
    }
  }
}
.group-action-bar {
  align-items: center;
  background-color: $otherside;
  position: absolute;
  bottom: 0;
  color: $white;
  display: flex;
  height: 50px;
  width: 100%;
  .group-name {
    margin: 0 0.7em;
  }
}
.voted-up {
  color: lime;
}
.voted-down {
  color: red;
}
