.group-page {
  position: relative;
  overflow: hidden;
}
.group-page-home {
  height: 100%;
  width: 100%;
  flex-direction: column;
  .nav-tabs {
    li {
      width: 50%;
      text-align: center;
    }
  }
}
.group-action-bar {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #412F49;
  color: #FFF;
  h3 {
    margin: 0;
    padding: 0;
  }
}
