@import 'variables';

.home-page {
  height: 100vh;
  overflow: hidden;
  .white-box {
    background: $white;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
  }
  .black-box {
    background: $black;
    width: 100vw;
    height: 200vh;
    z-index: 2;
    transform: rotate(30deg);
  }
  .echelon-text {
    position: absolute;
    top: 0;
    mix-blend-mode: difference;
    color: $white;
    z-index: 3;
    h1 {
      font-size: 15vw;
      font-weight: bold;
      margin: 20px;
    }
    .google-play-link {
      img {
        width: 400px;
        height: auto;
      }
    }
  }
  .inverter-box {
    position: absolute;
    top: 0;
    background-color: $heromode;
    mix-blend-mode: screen;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
}
@media screen and (max-width: 767px) {
  .home-page {
    .black-box {
      transform: rotate(35deg);
      margin-top: -50vh;
    }
    .echelon-text {
      text-align: center;
      font-size: 21vw;
      width: 100vw;
    }
  }
}
