@import 'variables';

.home-page {
  height: 100vh;
  overflow: hidden;
  .dif-components {
    position: absolute;
    top: 0;
    left: 0;
    .white-box {
      background: $white;
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
    }
    .black-box {
      background: $black;
      width: 100vw;
      height: 200vh;
      z-index: 2;
      transform: rotate(30deg);
    }
    .inverter-box {
      position: absolute;
      top: 0;
      background-color: $heromode;
      mix-blend-mode: screen;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
    .echelon-text {
      mix-blend-mode: difference;
      color: $white;
      z-index: 3;
      h1 {
        font-size: 15vw;
        font-weight: bold;
        margin: 20px;
      }
    }
  }
  .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    rect {
      width: 100%;
      height: 100%;
      &.inverter-rect {
        mix-blend-mode: screen;
      }
    }
    text {
      mix-blend-mode: difference;
    }
  }
  .google-play-link {
    img {
      width: 400px;
      height: auto;
    }
  }
}
@media screen and (max-width: 767px) {
  .home-page {
    .black-box {
      transform: rotate(35deg);
      margin-top: -50vh;
    }
    .echelon-text {
      text-align: center;
      font-size: 21vw;
      width: 100vw;
    }
  }
}
