.main-page {
  position: relative;
  overflow: hidden;
}
.main-page-home {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.main-page-join {
  height: 100%;
  width: 100%;
  flex-direction: column;
  i {
    font-size: 4em;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
  }
  form {
    width: inherit;
    max-width: 300px;
    input {
      width: 100%;
      max-width: 300px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    button {
      width: 100%;
      max-width: 300px;
    }
  }
}
.no-group-error {
  border-color: #F00;
  border-width: 3px;
  &:focus {
    border-color: #C00;
  }
}
