@import 'variables';
.track-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .track-list-item {
    position: relative;
    .track-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .album-art {
        width: 65px;
        height: 65px;
        margin-right: 0.5em;
      }
      .track-vote-container {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        font-size: 22pt;
        p {
          text-align: center;
          font-size: 8pt;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
.track-list {
  .track-nowplaying {
    .track-container {
      background-color: $pearlblue;
      .album-art {
        width: 80px;
        height: 80px;
      }
    }
  }
}
.add-song-list {
  .track-list {
    width: 30em;
    max-width: 100%;
    margin: 10px auto;
    .track-container {
      justify-content: space-between;
      .track-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}

.track-item {
  .card-media {
    margin-right: 10px;
  }
}
