<!doctype html>
<html class="no-js" ng-app="webApp" ng-controller="HtmlCtrl">

<head>
  <meta charset="utf-8">
  <title ng-bind="'Echelon '+Page.title()">Echelon</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.css"
  />
  <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css"
  />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"
  />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body layout="column" ng-controller="NavCtrl as nav">
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <md-toolbar layout="row" class="main-toolbar md-theme-indigo">
    <md-button class="menu" hide-gt-sm ng-click="openLeftMenu()" aria-label="Menu">
      <md-icon md-font-icon="mdi mdi-menu mdi-24"></md-icon>
    </md-button>
    <h1 class="md-toolbar-tools">Echelon</h1>
  </md-toolbar>
  <div flex layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-10dp" md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="left">
      <md-toolbar class="md-theme-indigo" hide-gt-sm>
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-list>

        <!-- List item #1 -->
        <md-list-item>
          <md-button class="nav-item" ng-click="closeLeftMenu()" href="#/">
            <md-icon class="nav-icon mdi mdi-home mdi-32"></md-icon>
            Home
          </md-button>
        </md-list-item>

        <!-- List item #2 -->
        <md-list-item>
          <md-button class="nav-item" ng-click="closeLeftMenu()" href="#/group">
            <md-icon class="nav-icon" md-svg-src="images/icons/queue_music.svg"></md-icon>
            Group
          </md-button>
        </md-list-item>

        <!-- List item #3 -->
        <md-list-item>
          <md-button class="nav-item" ng-click="closeLeftMenu()" href="#/account">
            <md-icon class="nav-icon mdi mdi-account mdi-32"></md-icon>
            Account
          </md-button>
        </md-list-item>

      </md-list>
    </md-sidenav>
    <md-content flex id="content">
      <div ng-view=""></div>
    </md-content>
  </div>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "//yeomans.io/piwik/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', 2]);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p>
      <img src="//yeomans.io/piwik/piwik.php?idsite=2" style="border:0;" alt=""
      />
    </p>
  </noscript>
  <!-- End Piwik Code -->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-spotify/dist/angular-spotify.min.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/angularfire/config.js"></script>
  <script src="scripts/angularfire/firebase.ref.js"></script>
  <script src="scripts/controllers/chat.js"></script>
  <script src="scripts/controllers/group.js"></script>
  <script src="scripts/filters/reverse.js"></script>
  <script src="scripts/angularfire/auth.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/account.js"></script>
  <script src="scripts/controllers/searchMusic.js"></script>
  <script src="scripts/directives/ngShowAuth.js"></script>
  <script src="scripts/directives/ngHideAuth.js"></script>
  <script src="scripts/routes.js"></script>
  <!-- endbuild -->
</body>

</html>
