<div>
  <md-sidenav-layout>
    <md-sidenav #sidenav class="main-sidenav" [opened]="(window.width>768)&&state.loggedIn"
                [mode]="window.width>768?'side':'over'"
                layout-padding>
      <header color="accent">
        <h4>Echelon</h4>
        <div class="profile">
          <img [src]=""/>
          <h6>Username</h6>
        </div>
        <div class="settings-row">
          <div class="api-select">
            <button md-button [md-menu-trigger-for]="menu">
              <md-icon>keyboard_arrow_down</md-icon>
            </button>
            <md-menu #menu="mdMenu" x-position="after" y-position="below">
              <button md-menu-item>Settings</button>
            </md-menu>
          </div>
        </div>
      </header>
      <a md-button class="nav-button" *ngFor="let navButton of navButtons"
         router-active [routerLink]="[navButton.location]">
        <md-icon>{{navButton.icon}}</md-icon>
        {{navButton.text}}</a>
      <button md-raised-button class="md-warn logout" (click)="logout()">Logout</button>
    </md-sidenav>
    <md-toolbar color="primary" *ngIf="state.loggedIn">
      <button md-button #sidenavButton *ngIf="window.width<=768" (click)="toggleNavDrawer()" class="icon">
        <md-icon>menu</md-icon>
      </button>
      <span>{{toolbar.title}}</span>
    </md-toolbar>
    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>
