<div class="browsemusic-page">
  <h2>{{featured.message}}</h2>
    <ul class="track-list card-list">
      <li class="track-list-item" ng-repeat="playlist in featured.playlists.items">
        <md-card class="track-item">
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-md card-media">
                <img src="{{playlist.images[0].url}}" />
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">{{playlist.name}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="viewPlaylist($index)">View Playlist</md-button>
          </md-card-actions>
        </md-card>
      </li>
    </ul>
</div>
