<div class="group-page">
  <div class="group-page-home">
    <ul class="nav nav-tabs">
      <li id="queue-tab" class="active"><a ng-click="queueTab()">Queue</a></li>
      <li id="partic-tab"><a ng-click="participantsTab()">Participants</a></li>
    </ul>

    <div class="tab-content">
      <div id="queue" class="tab-pane active">
        <h3>Queue</h3>
        <p>Some content.</p>
      </div>
      <div id="participants" class="tab-pane">
        <h3>Participants</h3>
        <p>Some content in menu 1.</p>
      </div>
    </div>
  </div>
</div>
