<div class="group-page">
  <md-tabs md-border-bottom>
    <md-tab label="queue">
      <ul class="track-list">
        <li class="track-list-item track-nowplaying">
          <div class="track-container">
            <img class="album-art" src="{{nowPlayingTrack.albumArtSmall}}" />
            <div class="track-content">
              <h5>{{nowPlayingTrack.title}}</h5>
              <h5>{{nowPlayingTrack.artist}}</h5>
            </div>
          </div>
        </li>
        <li class="track-list-item" ng-repeat="track in tracks">
          <div class="track-container">
            <img class="album-art" src="{{track.albumArtSmall}}" />
            <div class="track-content">
              <h5>{{track.title}}</h5>
              <h5>{{track.artist}}</h5>
            </div>
            <div class="track-vote-container">
              <i ng-class="track.isVotedUp" class="mdi mdi-chevron-up" ng-click="voteUp(track)"></i>
              <p>{{track.votedUp.length - track.votedDown.length}}</p>
              <i ng-class="track.isVotedDown" class="mdi mdi-chevron-down" ng-click="voteDown(track)"></i>
            </div>
          </div>
        </li>
      </ul>
    </md-tab>
    <md-tab label="participants">
      <h3>Participants</h3>
      <p>Some content in menu 1.</p>
    </md-tab>
</div>
</div>
<div class="group-action-bar">
  <h3 class="group-name" ng-bind="groupName"></h3>
</div>
<md-fab-speed-dial ng-hide="hidden" ng-cloak md-direction="up" md-open="isOpen"
class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': hover }"
ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
  <md-fab-trigger>
    <md-button aria-label="add song" class="md-fab md-warn">
      <md-tooltip md-direction="left" md-visible="tooltipVisible">Add Song</md-tooltip>
      <md-icon class="nav-icon" md-font-icon="mdi mdi-plus mdi-32" aria-label="add song"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <div ng-repeat="item in fabItems">
      <md-button aria-label="{{item.name}}" class="md-fab md-raised md-primary md-hue-2"
      ng-click="item.click()">
        <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible"
        md-autohide="false">
          {{item.name}}
        </md-tooltip>
        <md-icon class="nav-icon" md-font-icon="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>
