<div class="home-page">
  <svg class="background-svg" height="700" width="700">
    <rect class="white-rect" width="700 " height="700 " style="fill:rgb(255,255,255);z-index:-1;"
    />
    <rect class="black-rect" width="700 " height="700 " style="fill:rgb(0,0,0);z-index:1;"
      transform="rotate(30) " />
    <text x="0" y="300" style="stroke-width:50;" " fill="white "
       font-size="10vw ">ECHELON</text>
    <rect class="inverter-rect " width="700 " height="700 " style="fill:rgb(87,56,123);z-index:4; " />
  </svg>
  <a class="google-play-link " href="https://play.google.com/store/apps/details?id=io.yeomans.echelon&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1
      "><img alt="Get it on Google Play " src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png "
    /></a>
</div>
