<div class="home-page">
  <div class="white-box"></div>
  <div class="black-box"></div>
  <div class="inverter-box"></div>
  <div class="echelon-text">
    <h1>ECHELON</h1>
    <a class="google-play-link" href="https://play.google.com/store/apps/details?id=io.yeomans.echelon&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png"
      /></a>
  </div>
</div>
