<div class="login-page center-both-flex">
  <img src="../images/login_bg_top.png" class="login-bg login-bg-top"></img>
  <img src="../images/login_bg_bottom.png" class="login-bg login-bg-bottom"></img>
  <div class="login-content-box">
    <h3>Login to Echelon</h3>
    <md-button class="md-raised md-primary md-hue-2" ng-click="spotifyLogin()">Login with Spotify</md-button>
    <md-button md-no-ink class="md-primary md-hue-2" ng-click="anonymousLogin()">Skip Login (Limited)</md-button>
  </div>
</div>
