<div class="main-page">
  <div class="main-page-home center-both-flex">
    <img src="../images/e_logo.png" />
    <button class="btn btn-lg btn-echelon btn-echelon-trans" ng-click="joinGroup()">Join Group</button>
    <a class="btn btn-lg btn-echelon btn-echelon-trans" ng-href="#/account">Account</a>
    <button class="btn btn-lg btn-echelon btn-echelon-trans" ng-click="logout()">Logout</button>
  </div>
  <div class="main-page-join center-both-flex" style="display:none">
    <i class="join-return mdi mdi-arrow-up" ng-click="backFromJoin()"></i>
    <h3>Join a Group</h3>
    <form>
      <input class="form-control" type="text" placeholder="Group Name" />
      <button class="btn btn-lg btn-echelon btn-echelon-prim" ng-click="join()">Join Group</button>
    </form>
  </div>
</div>
