<div class="searchmusic-page">
  <div class="search-input-wrapper">
    <md-input-container class="search-input-container search-form">
      <label>Search</label>
      <input type="text" ng-model="query">
    </md-input-container>
    <md-button class="md-raised md-primary search-form" ng-click="makeSearch()">Search</md-button>
  </div>
  <div class="add-song-list">
    <ul class="track-list">
      <li class="track-list-item" ng-repeat="track in tracks track by track.songId">
        <md-card class="track-item">
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-md card-media">
                <img src="{{track.albumArtSmall}}" />
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">{{track.title}}</span>
              <span class="md-subhead">{{track.artist}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="addSongToQueue($index)">Add To Queue</md-button>
          </md-card-actions>
        </md-card>
      </li>
    </ul>
  </div>
</div>
